.user-content {
  background: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 40px;
  }

  &__title {
    font-family: var(--font-family-primary);
    color: #373737;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 35.2px */
    letter-spacing: 0.32px;
    text-align: center;    
  }
}
